@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  /* height: 100vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  /* background-color: blue; */
  background-image: url(images/appointbg.jpg);
}
.container{
  /* max-width: 700px; */
  /* height: 97vh; */
  /* border: 2px solid green; */
  border-radius: 30px;
  width: 80%;
  background-color: #fff;
  padding: 25px 30px 0px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  /* background-color: rgb(249, 255, 208); */
  background-image: url(images/form.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .title{
  /* border: 2px solid red; */
  font-size: 35px;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: blue;
  /* color: red; */
  /* background-color: blue; */
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}

.content form .user-details ,
/* .content form .slottime ,  */
.content form .payments{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px 0 12px 0; */
}


.content form .category{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box,
form .payments .input-box{
  margin-bottom: 15px;
  width: calc(100% / 6 - 20px);
  display: flex;
  flex-direction: column;
}

form .user-details .input-box input ,
form .user-details .input-box select,
form .slottime .input-box input,
form .slottime .input-box select,
form .payments .input-box input,
form .payments .input-box select{
  border: 2px solid black;
  width: 75%;
}

/* form .slot .input-box{
  margin-bottom: 15px;
  width: calc(100% / 5 - 20px);
} */

/* form .query label{
  margin-bottom: 15px;
  width: calc(100% / 6 - 20px);
}

form .payments .input-box{
  margin-bottom: 15px;
  width: calc(100% / 4 - 20px);
} */

/* form .input-box span.details , 
form .input-box1 span.details,
form .input-boxno span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input , .input-box select , 
.slot .input-box input , 

.payment-details .input-box , .remark .input-box input , 
.payments .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */


.user-details .input-box input:focus,
.user-details .input-box input:valid{
  /* border-color: #9b59b6; */
}

/* .slot  */
/* .slot span .slotheading{
  margin: 0px 0px 20px 0px;
} */


.slot{
  /* width: 70%; */
  width: 100%;
  /* padding: 1rem 0; */
  /* border: 2px solid yellow; */
}

.slot .slottime{
  /* border: 2px solid pink; */
  display: flex;
}
.slot .slottime .input-box{
  /* border: 2px solid pink; */
  width: 25%;
  margin: 0px 25px 0px 0px;
  display: flex;
  flex-direction: column;
}
.slot .slottime .input-box1{
  /* border: 2px solid pink; */
  width: 25%;
  margin: 0px 25px 0px 0px;
}
/* .slot .slottime .input-boxno{ */
  /* border: 2px solid pink; */
  /* width: 5%; */
  /* margin: 0px 20px 0px 0px; */
/* } */


.subheading{
  /* border: 2px solid red; */
  padding: 1rem 0rem 0.5rem 0rem;
}
.slotheading , .queryheading,form .query .querytitle, .userheading{
  /* color: red; */
  font-size: 20px;
  font-weight: 500;
  color: blue;
  
}



/* slot time  */

.slot .input-box .timesel{
  display: flex;
}

.slot .input-box .timesel #hr{
  /* display: flex; */
    /* border: 2px solid red; */
    /* padding: 2px 2px; */
    margin: 0px 15px;    
    /* width: 30%; */
}

/* .slot .input-box1 .timesel #hr{

  height: 35px;

  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */

/* .slot .input-boxno input{
  width: 65%;
  height: 35px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */


/* Queries */

.query{
  /* width: 70%; */
  /* border: 2px solid red; */
  padding: 1rem 0;
  width: 100%;
}

.query .check{
  display: flex;
  gap: 1rem 1rem;
  flex-wrap: wrap;
}


.check .option{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: calc(100% / 6 - 20px);
}


/* form .query .querytitle{
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 20px 0px; */
  /* border: 2px solid blue; */
  /* padding: 10px 0px; */
  /* color: red; */
/* } */

/* 

 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three,
 #dot-4:checked ~ .category label .four,
 #dot-5:checked ~ .category label .five,
 #dot-6:checked ~ .category label .six,
 #dot-7:checked ~ .category label .seven,
 #dot-8:checked ~ .category label .eight,
 #dot-9:checked ~ .category label .nine,
 #dot-10:checked ~ .category label .ten,
 #dot-12:checked ~ .category label .twelve,
 #dot-11:checked ~ .category label .eleven{
   background: #9b59b6;
   border-color: #d9d9d9;
 } */

 /* payments  */
 /* .payments .input-box .choose{
    text-align: center;
    margin: auto;
    border: 2px solid red;
 } */



 form input[type="radio"]{
   display: none;
 }


 form .button1{
  display: block;
  margin: 10px auto;
  width: 20%;
 }

 /* form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background-color: blue; */
   /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
 /* } */

 /* form .button input:hover{ */
  /* transform: scale(0.99); */
  /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
  /* background-color: rgb(2, 2, 132);

  } */

  .button {
    /* display: inline-block; */
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    /* border-radius: 5px; */
    border-radius: 40px;
    background-color: #ff0505;
    box-shadow: 0 4px #7a3535;
    /* background-color: #2205ff;
    box-shadow: 0 4px #35397a; */
  }
  
  .button:hover {
    background-color: #ff0505;
    box-shadow: 0 6px #7a3535;
    /* background-color: #2205ff;
    box-shadow: 0 4px #35397a; */
    transform: translateY(-2px);
  }
  
  .button:active {
    background-color: #2e2586;
    box-shadow: none;
    transform: translateY(0);
  }



 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}




/* Personal Details  */
/* .us */

/* .user-details .input-boxage{
  border: 2ps solid red;
  height: 35px;
  width: 50%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */
 
form .user-details .input-box #agebox{
    width: 10% !important;

}